*.iml
.gradle
/local.properties
/gradle.properties
.idea/
.DS_Store
/build
/captures
src/main/java/com/delicious/delicious/network/retrofit/
app/src/main/java/com/delicious/delicious/network/retrofit/
